# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Binaries
kubeprobes
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 